<form action="/recipes/create" method="POST">
  <label for="title">title</label>
  <input type="text" name="title" id="title" required>
  <select name="level" id="level">
    <option value="Easy Peasy">Easy Peasy</option>
    <option value="Amateur Chef">Amateur Chef</option>
    <option value="UltraPro Chef">UltraPro Chef</option>
  </select>
  <label for="cuisine">Cuisine</label>
  <input type="text" name="cuisine" id="cuisine" required>
  <label for="duration">Duration</label>
  <input type="number" name="duration" id="duration">
  <button type="submit">Add Recipe to my account</button>
</form>